
<footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col footer-imgtxt">
                    <a><img class="img-footer" src="https://i.postimg.cc/rsS20bt5/Camada-1-1.png"></a>
                    <p style="margin-left: 1rem; font-size: 11px; line-height: 1;">A Aser inox é uma empresa especializada na venda de mesas em aço inoxidável, atendendo a diversas aplicações, incluindo a linha gastronomica, médica, veterinária e muitas outras áreas.</p>
                </div>
                <!--end footer col-->
                <div class="footer-col gap col-wmax border-right">
                  <h4>REDES SOCIAIS</h4>
                    <div class="social-apps">
                        <a href="https://api.whatsapp.com/send?phone=5518981206080&text=Ol%C3%A1%21+estou+na+loja+UTILITY+UTILIDADES+e+gostaria+de+mais+informa%C3%A7%C3%B5es.">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M18.2083 4.40611C15.3581 -0.000145655 9.53884 -1.31011 5.02597 1.42891C0.631853 4.16794 -0.793265 10.1223 2.05697 14.5286L2.29449 14.8859L1.34441 18.4585L4.90721 17.5058L5.26349 17.744C6.80737 18.5776 8.47 19.0539 10.1326 19.0539C11.914 19.0539 13.6954 18.5776 15.2393 17.6249C19.6334 14.7668 20.9398 8.93146 18.2083 4.40611ZM15.7144 13.5759C15.2393 14.2904 14.6455 14.7668 13.8142 14.8859C13.3392 14.8859 12.7454 15.124 10.3702 14.1713C8.35124 13.2186 6.68861 11.6705 5.50101 9.88416C4.78845 9.05054 4.43217 7.97875 4.31341 6.90696C4.31341 5.95426 4.66969 5.12064 5.26349 4.5252C5.50101 4.28702 5.73853 4.16794 5.97605 4.16794H6.56985C6.80737 4.16794 7.04489 4.16794 7.16365 4.64429C7.40117 5.23973 7.99496 6.66878 7.99496 6.78787C8.11372 6.90696 8.11372 7.14514 7.99496 7.26423C8.11372 7.5024 7.99497 7.74058 7.8762 7.85966C7.75745 7.97875 7.63869 8.21693 7.51993 8.33602C7.28241 8.4551 7.16365 8.69328 7.28241 8.93146C7.75744 9.64598 8.35124 10.3605 8.94504 10.956C9.6576 11.5514 10.3702 12.0277 11.2015 12.385C11.439 12.5041 11.6765 12.5041 11.7953 12.2659C11.914 12.0277 12.5078 11.4323 12.7454 11.1941C12.9829 10.956 13.1016 10.956 13.3392 11.075L15.2393 12.0277C15.4768 12.1468 15.7144 12.2659 15.8331 12.385C15.9519 12.7423 15.9519 13.2186 15.7144 13.5759Z" fill="#232732"/>
                          </svg>
                        </a>
                        <a href="https://www.instagram.com/utilitypetoficial">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M11.1399 0.00117219C11.8352 -0.00149557 12.5304 0.00549162 13.2254 0.0221316L13.4102 0.0288005C13.6236 0.036422 13.8342 0.045949 14.0885 0.0573813C15.1022 0.105016 15.7939 0.265069 16.4007 0.500386C17.0295 0.742371 17.5592 1.0701 18.0889 1.5998C18.5732 2.07577 18.9481 2.65152 19.1874 3.28702C19.4227 3.89389 19.5828 4.5865 19.6304 5.60017C19.6418 5.85359 19.6513 6.06509 19.659 6.27849L19.6647 6.46332C19.6816 7.15802 19.6889 7.85292 19.6866 8.54782L19.6875 9.25853V10.5066C19.6899 11.2018 19.6826 11.897 19.6656 12.592L19.6599 12.7768C19.6523 12.9902 19.6428 13.2008 19.6313 13.4552C19.5837 14.4688 19.4217 15.1605 19.1874 15.7674C18.9489 16.4035 18.5739 16.9798 18.0889 17.4555C17.6125 17.9398 17.0365 18.3146 16.4007 18.554C15.7939 18.7893 15.1022 18.9494 14.0885 18.997C13.8342 19.0084 13.6236 19.018 13.4102 19.0256L13.2254 19.0313C12.5304 19.0482 11.8352 19.0555 11.1399 19.0532L10.4292 19.0542H9.18216C8.48694 19.0565 7.79172 19.0492 7.0967 19.0322L6.91188 19.0265C6.68572 19.0183 6.45961 19.0088 6.23356 18.998C5.21989 18.9503 4.52823 18.7884 3.92041 18.554C3.28466 18.3152 2.70881 17.9403 2.23318 17.4555C1.74831 16.9795 1.37311 16.4033 1.13377 15.7674C0.898456 15.1605 0.738403 14.4688 0.690768 13.4552C0.680158 13.2291 0.670631 13.003 0.662187 12.7768L0.657424 12.592C0.63986 11.897 0.63192 11.2018 0.633606 10.5066V8.54782C0.630947 7.85292 0.637935 7.15802 0.654566 6.46332L0.661235 6.27849C0.668856 6.06509 0.678383 5.85359 0.689815 5.60017C0.73745 4.58555 0.897503 3.89485 1.13282 3.28702C1.3723 2.65121 1.74823 2.07562 2.23414 1.60075C2.70943 1.11559 3.28493 0.740058 3.92041 0.500386C4.52823 0.265069 5.21894 0.105016 6.23356 0.0573813L6.91188 0.0288005L7.0967 0.0240371C7.79139 0.00648156 8.48629 -0.00145844 9.1812 0.000219566L11.1399 0.00117219ZM10.1606 4.76466C9.52942 4.75573 8.90279 4.87233 8.31709 5.10769C7.73139 5.34305 7.19831 5.69247 6.74882 6.13564C6.29934 6.57881 5.94242 7.1069 5.6988 7.68921C5.45518 8.27152 5.32973 8.89645 5.32973 9.52767C5.32973 10.1589 5.45518 10.7838 5.6988 11.3661C5.94242 11.9484 6.29934 12.4765 6.74882 12.9197C7.19831 13.3629 7.73139 13.7123 8.31709 13.9476C8.90279 14.183 9.52942 14.2996 10.1606 14.2907C11.4239 14.2907 12.6355 13.7888 13.5289 12.8955C14.4222 12.0022 14.9241 10.7905 14.9241 9.52719C14.9241 8.26384 14.4222 7.05222 13.5289 6.1589C12.6355 5.26557 11.4239 4.76466 10.1606 4.76466ZM10.1606 6.67005C10.5402 6.66306 10.9175 6.73178 11.2703 6.87222C11.6231 7.01266 11.9443 7.22199 12.2153 7.48799C12.4863 7.75398 12.7016 8.07131 12.8486 8.42143C12.9955 8.77156 13.0713 9.14746 13.0713 9.52718C13.0714 9.9069 12.9958 10.2828 12.8489 10.633C12.7021 10.9832 12.4869 11.3006 12.216 11.5667C11.9451 11.8328 11.6239 12.0422 11.2712 12.1827C10.9184 12.3233 10.5412 12.3922 10.1615 12.3853C9.40352 12.3853 8.67655 12.0842 8.14055 11.5482C7.60456 11.0122 7.30344 10.2852 7.30344 9.52719C7.30344 8.76918 7.60456 8.04221 8.14055 7.50621C8.67655 6.97022 9.40352 6.6691 10.1615 6.6691L10.1606 6.67005ZM15.1622 3.33561C14.8549 3.34791 14.5642 3.47866 14.3511 3.70047C14.138 3.92228 14.019 4.21794 14.019 4.52553C14.019 4.83312 14.138 5.12879 14.3511 5.35059C14.5642 5.5724 14.8549 5.70315 15.1622 5.71545C15.4781 5.71545 15.781 5.58998 16.0043 5.36665C16.2276 5.14332 16.3531 4.84042 16.3531 4.52458C16.3531 4.20874 16.2276 3.90584 16.0043 3.6825C15.781 3.45917 15.4781 3.33371 15.1622 3.33371V3.33561Z" fill="#232732"/>
                          </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UCd32lUyr-N1P65gh-v0tdRQ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M20.6882 10.0251C20.6882 4.49123 16.2082 0 10.6882 0C5.16823 0 0.688232 4.49123 0.688232 10.0251C0.688232 14.8772 4.12823 18.9173 8.68823 19.8496V13.0326H6.68823V10.0251H8.68823V7.5188C8.68823 5.58396 10.2582 4.01003 12.1882 4.01003H14.6882V7.01754H12.6882C12.1382 7.01754 11.6882 7.46867 11.6882 8.02005V10.0251H14.6882V13.0326H11.6882V20C16.7382 19.4987 20.6882 15.2281 20.6882 10.0251Z" fill="#232732"/>
                          </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UCd32lUyr-N1P65gh-v0tdRQ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="17" viewBox="0 0 25 17" fill="none">
                            <path d="M10.3549 12.0833L16.6261 8.45833L10.3549 4.83333V12.0833ZM24.3232 2.62208C24.4803 3.19 24.5891 3.95125 24.6616 4.91792C24.7461 5.88458 24.7824 6.71833 24.7824 7.44333L24.8549 8.45833C24.8549 11.1046 24.6616 13.05 24.3232 14.2946C24.0211 15.3821 23.3203 16.0829 22.2328 16.385C21.6649 16.5421 20.6257 16.6508 19.0307 16.7233C17.4599 16.8079 16.022 16.8442 14.6928 16.8442L12.7716 16.9167C7.70865 16.9167 4.5549 16.7233 3.31032 16.385C2.22282 16.0829 1.52198 15.3821 1.2199 14.2946C1.06282 13.7267 0.954066 12.9654 0.881566 11.9987C0.796983 11.0321 0.760732 10.1983 0.760732 9.47333L0.688232 8.45833C0.688232 5.81208 0.881566 3.86667 1.2199 2.62208C1.52198 1.53458 2.22282 0.83375 3.31032 0.531667C3.87823 0.374583 4.9174 0.265833 6.5124 0.193333C8.08323 0.10875 9.52115 0.0724999 10.8503 0.0724999L12.7716 0C17.8345 0 20.9882 0.193333 22.2328 0.531667C23.3203 0.83375 24.0211 1.53458 24.3232 2.62208Z" fill="#232732"/>
                          </svg>
                        </a>
                    </div>
                    
                </div>
                <!-- footer col-->
                <div class="footer-col border-right">
                    <h4>FALE CONOSCO</h4>
                    <ul class="footer-col-ul">
                        <li>
                          <a href="tel:3199701-9314">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M11.9844 15.9995C10.94 15.8961 10.0217 15.6019 9.13858 15.1974C6.8948 14.1693 5.02125 12.6541 3.39932 10.817C2.20477 9.46381 1.18706 7.99125 0.555063 6.29111C0.310384 5.63238 0.17095 4.93314 0.0144193 4.24509C-0.022977 4.08041 0.0149536 3.86243 0.0982939 3.71266C0.834467 2.38933 1.78059 1.23441 2.96018 0.276688C3.49495 -0.157673 4.00781 -0.0564108 4.36575 0.411526C5.23868 1.55259 6.04003 2.74641 6.56144 4.10066C6.71744 4.50624 6.64959 4.87238 6.33546 5.17244C6.03362 5.46077 5.71789 5.73471 5.39895 6.00385C5.27661 6.10671 5.25524 6.20051 5.31294 6.34814C6.12284 8.4336 7.57328 9.87632 9.66266 10.6848C9.81065 10.7418 9.90574 10.7173 10.0072 10.5953C10.2514 10.3016 10.5046 10.0154 10.761 9.73295C11.096 9.36415 11.5186 9.22984 11.9641 9.45582C12.8248 9.89231 13.6678 10.3645 14.5066 10.842C14.8447 11.0344 15.1605 11.2705 15.4735 11.5034C15.9618 11.8669 16.2487 12.4329 15.707 13.0783C14.7544 14.2135 13.624 15.1334 12.3413 15.87C12.2147 15.9424 12.063 15.9718 11.9839 16L11.9844 15.9995Z" fill="#232732"/>
                            </svg>
                            (31) 99701-9314
                          </a>
                        </li>
                        <li>
                          <a href="mailto:comercial02@aserinox.com.br">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                              <path d="M7.92689 12.6633C5.89756 12.6633 3.86623 12.6713 1.8369 12.6613C0.575311 12.6553 0.0114962 12.0995 0.00749753 10.8539C-0.00249918 7.82493 -0.00249918 4.79392 0.00749753 1.76492C0.0114962 0.581309 0.587307 0.00949688 1.78291 0.00749753C5.94154 -0.00249918 10.1022 -0.00249918 14.2608 0.00749753C15.3944 0.0114962 15.9842 0.593305 15.9902 1.71294C16.0042 4.77593 16.0022 7.83892 15.9902 10.9019C15.9862 12.0835 15.4064 12.6533 14.2128 12.6613C12.1175 12.6753 10.0202 12.6653 7.92289 12.6653L7.92689 12.6633ZM1.71294 1.67695C1.37505 2.7386 1.72893 3.29841 2.59065 3.77826C4.21011 4.68196 5.7676 5.69563 7.32509 6.7013C7.80693 7.01319 8.17081 7.03119 8.66465 6.71329C10.2521 5.68963 11.8436 4.66996 13.4871 3.74027C14.3528 3.25043 14.5947 2.66462 14.2788 1.68894C12.3654 2.86856 10.5 3.99619 8.66265 5.1698C8.17681 5.4817 7.82892 5.4837 7.33908 5.1698C5.50369 3.99219 3.6363 2.86456 1.70894 1.67495L1.71294 1.67695Z" fill="#232732"/>
                            </svg> 
                            comercial02@aserinox.com.br
                          </a>
                        </li>
                        <li>
                          <a href="https://maps.app.goo.gl/bqTxynybkQbvgcme8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="17" viewBox="0 0 12 17" fill="none">
                              <path d="M12 5.8668C11.9602 7.18668 11.5888 8.31226 11.085 9.40125C10.0164 11.7112 8.53505 13.751 6.91921 15.7017C6.75473 15.9001 6.5918 16.1011 6.41594 16.2893C6.1625 16.5609 5.81957 16.5743 5.58009 16.2954C3.60581 14.0005 1.80221 11.5901 0.633263 8.77249C0.18689 7.6969 -0.0924166 6.5806 0.028099 5.39059C0.281544 2.89308 2.06704 0.822812 4.50942 0.190961C7.55903 -0.59808 10.7204 1.12173 11.7124 4.17482C11.7838 4.39437 11.8495 4.61856 11.8841 4.84584C11.941 5.21846 11.9705 5.5952 12 5.86731V5.8668ZM2.98875 5.97709C2.99237 7.64949 4.33304 8.97503 6.01508 8.96885C7.67541 8.96318 9.00418 7.62423 9.00004 5.96163C8.9959 4.29902 7.66506 2.97039 5.99957 2.96626C4.32787 2.96214 2.98513 4.30469 2.98875 5.97709Z" fill="#232732"/>
                            </svg>
                            E. Delegado Bruno de Almeida, 4666<br>
                            Curitiba - PR
                          </a>
                        </li>
                    </ul>
                    <span class="footer-col-span">
                            Atendimento disponível das<br>
                            8 às 18 hrs de segunda a sexta.
                    </span>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col col-wmax border-right">
                    <h4>INSTITUCIONAL</h4>
                  <ul>
                        <li><a href="https://www.utilitypet.com.br/noindex/additional_info/MLB716835974?new_version=true&modal=false&newIndex=true" target="_blank"> Politica de entrega </a></li>
                        <li><a href="https://www.utilitypet.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Compra garantida </a></li>
                        <li><a href="https://produto.mercadolivre.com.br/noindex/freeReturn/fashion?itemId=MLB716835974&quantity=1&new_version=true&modal=false&controlled=true&_ga=2.170314080.1940008359.1697637666-991773602.1696614369&_gac=1.215348453.1697637668.Cj0KCQjwhL6pBhDjARIsAGx8D5_Hp4T5s0UzNuxu9WP6wbuUgECLv9ubhh9iRriM983x-x1sLOgvSdgaAmm-EALw_wcB&_gl=1*153l2ul*_mshops_ga*OTkxNzczNjAyLjE2OTY2MTQzNjk.*_mshops_ga_G6T7JSEC6K*MTY5NzYzNzY2OC4yLjAuMTY5NzYzNzY4NS40My4wLjA.&_ga=ML1.1697637690067.991773602.1696614369" target="_blank"> Trocas e Devoluções </a></li>
                        <li><a href="https://www.utilitypet.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Políticas do Site </a></li>
                        <li><a href="https://www.utilitypet.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Políticas de Privacidade </a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col gap col-wmax">
                  <h4>MEIOS DE PAGAMENTO</h4>
                    <a><img src="https://i.postimg.cc/TwKj3WJW/Pagamento.png" style="width: 12rem;"></a>
                    <a href="#show-modal" class="p-coluna4"><p>Saiba mais...</p></a>
                </div>
                <!--end footer col-->
            </div>
        </div>
        
        
        <div class="footer-bottom border-top">
          <div class="ecom">
            <span>Desenvolvido com ❤️ por:</span>
            <a href="https://ecomsolutionsbr.com/"><img src="https://i.postimg.cc/9FkNH2g0/1-2-1-1.png" style="width: 7rem;"></a>
          </div>
        </div>
    </footer>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS5PGG7T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>

  $(document).ready(function() { function handleHover(container, frame,
  hoverFrame) { $(container).hover( function() { $(frame).hide();
  $(hoverFrame).show(); }, function() { $(frame).show(); $(hoverFrame).hide(); }
  ); }
  handleHover('#imagem-container1', '#frame-1-3-1', '#frame-1-3-1-hover');
  handleHover('#imagem-container2', '#frame-1-3-2', '#frame-1-3-2-hover');
  handleHover('#imagem-container3', '#frame-1-3-3', '#frame-1-3-3-hover');
  handleHover('#imagem-container4', '#frame-img-search', '#frame-img-search-hover');
  });
</script>

